extends auth_layout

block content
  main.d-flex.flex-column.justify-content-center.align-items-center
    .auth.animate__animated.animate__fadeIn.container.py-3.px-3
        h2.text-center Login
        form(action="/users/login", method="POST")
            .mb-3
                label(for="email", class="form-label") E-mail
                input(type="email", class="form-control", id="email" name="email")
            .mb-3
                label(for="password", class="form-label") Senha
                input(type="password", class="form-control", id="password" name="password")
            .w-100.text-center.flex-column.d-flex.align-items-center.justify-content-center
                button(type="submit", class="btn btn-primary mb-3") Entrar
                span Você ainda não tem uma conta? 
                    a(href="/users/signup") Cadastrar-se