$black = #131515ff
$gray = #2b2c28ff
$light-gray = rgb(170, 170, 170)
$dark-purple = #ad75ad
$light-purple = #c8a2c8
$white = #fffafbff

h1
    margin: 0
    color: $black

a
    color: $dark-purple

.auth
    width: 20%
    color: $black
    border-radius: 1rem
    background-color: 

.auth span
    font-size: 0.9rem
    color: $gray
